.spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
    width: 100%;
    height: auto;
  }
  


body
{
    background-color: rgb(143,225,192,0.2);
    color: white; 
}
