<div class="jumbotron text-black">
  <h1 class="display-3" style="text-align: center;">Sé parte de la comunidad iotPET</h1>
  <p class="lead" style="color: rgb(20, 22, 21); text-align: center;">Sigue nuestras redes sociales, encontrarás tips y consejos sobre el cuidado de tu mascota, así como ofertas sobre nuestros productos.</p>
  <p class="lead" style="color: rgb(20, 22, 21); text-align: center;">Puedes contáctarnos directamente en nuestro correo o número telefónico y con gusto te atenderemos.</p>
  <hr class="my-4">
    <div class="telefono">
    <p>
      <img src="../../assets/images/telefono.png"  width="60px" height="65px">
    </p>
    <p class="texttelefono" style="color: rgb(20, 22, 21); text-align: center;"> 55 45 65 85</p>
    </div>
    <div class="correo">
    <p>
      <img src="../../assets/images/correo.png"  width="60px" height="65px" >
    </p>
    <p class="textcorreo" style="color: rgb(20, 22, 21); text-align: center;"> contacto@iotpet.com</p>
    </div>
  <div class="redes">
    <div class="facebook">
      <img src="../../assets/images/facebook.png"  width="100px" height="105px">
      <p class="lead" style="color: rgb(20, 22, 21); text-align: center;">iotPET</p>
    </div>
    <div class="twitter">
      <img src="../../assets/images/twitter.png"  width="100px" height="105px" >
      <p class="lead" style="color: rgb(20, 22, 21); text-align: center;">@iotPET</p>
    </div>
    <div class="ig">
      <img src="../../assets/images/ig.jpg"  width="100px" height="105px" >
      <p class="lead" style="color: rgb(20, 22, 21); text-align: center;">@iotPETig</p>
    </div>
  </div>
  <hr>
  <p class="lead">
    <a class="btn btn-success btn-lg" (click)="navegarHome()" role="button">Regresar</a>
  </p>
</div>


