<div class="jumbotron text-black">
    <h1 class="display-3" style="text-align: center;">Aqui encontrarás los mejores precios para cuidar a tu mascota, con iotPET.</h1>
    <hr class="my-4">
    <div class="productos">
      <div class="Producto1">
        <p class="lead" style="color: rgb(20, 22, 21); text-align: center ;">MARK I</p>
        <div align="center"><img src="../../assets/images/Prototipo.png" width="252" height="354"></div>
        <p class="l" style="color: rgb(20, 22, 21); text-align: center;">Contáctanos para pre-ordenar el tuyo</p>
        <p class="l" style="color: rgb(20, 22, 21); text-align: center;">
          Incluye:
          -Dispensador de comida y agua
          -Indicador del nivel de agua y comida para que no se te olvide procurarlo.
          -Sensores de gas y temperatura para que verifiques las condiciones en que se encuentra.
          -Todo esto monitoreado desde nuestra aplicacion. 
        </p>
        <p class="l" style="color: rgb(20, 22, 21); text-align: center;">Por sólo $1500 MXN</p>
      </div>
    </div>
    <p class="lead">
      <a class="btn btn-success btn-lg" (click)="navegarHome()" role="button">Regresar</a>
    </p>
  </div>
