
<div class="jumbotron">
  <h1 class="display-3" style="color: #43554E; text-align: center;">¿iotPET?</h1>
  <div class="wrapper">
      <p class="accordion_wrap">
        <button type="button" class="accordion_header" (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
          ¿Quiénes somos?
        </button>
      </p>
      <div id="collapseExample" [ngbCollapse]="isCollapsed">
        <div class="card">
          <div class="card-body container" style="color: #000000;">
              Somos una compañía preocupada por el bienestar de las mascotas, enfocada en el desarrollo de la tecnología para mejorar la vida de las mascotas, así como simplificar sus cuidados a sus dueños.
          </div>
        </div>
      </div>
      <hr>
      <p class="accordion_wrap">
        <button type="button" class="accordion_header" (click)="isCollapsed2 = !isCollapsed2"
                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
          Misión
        </button>
      </p>
      <div id="collapseExample" [ngbCollapse]="isCollapsed2">
        <div class="card">
          <div class="card-body container" style="color: #000000;">
              Seguir innovando en las tecnologías para el cuidado de las mascotas.
              Llegar a la mayor cantidad de hogares para mejorar la vida de las mascotas        
          </div>
        </div>
      </div>
      <hr>
      <p class="accordion_wrap">
        <button type="button" class="accordion_header" (click)="isCollapsed3 = !isCollapsed3"
                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
          Visión
        </button>
      </p>
      <div id="collapseExample" [ngbCollapse]="isCollapsed3">
        <div class="card">
          <div class="card-body container" style="color: #000000; text-align: center;">
              Tener la confianza de nuestros clientes para que nos permitan seguir cuidando de sus mascotas.
          </div>
        </div>
      </div>
  </div> 
  <hr>
  <p class="lead" >
    <a class="btn btn-success btn-lg" (click)="navegarHome()" role="button">Regresar</a>
  </p>
</div>


  

