.contenedor{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.flex-pres {
  display: flex;
  justify-content: center;
  margin-left:100px;
  margin-right:100px;
  margin-top: 20px; 
}

.flex-log {
  display: flex;
  justify-content: center;
  margin-left:100px;
  margin-top: 20px; 
}

.presentacion {
  width: 800px;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
}

.container {
  display: flex; /* or inline-flex */
  flex-wrap: nowrap;
}
.contenedor1 {
  
  width: 600px;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
}

.contenedor2 {
  width: 700px;
  margin: 10px;
  text-align: center;
  font-size: 20px;
}

.tabla {
  width: 100%;
  height: auto;
  margin: 10px;
}


  .wrapper{
    width: 80%;
    margin: 80px auto 0;
    margin-bottom: 50px;
  }
  
  .wrapper .accordion_wrap .accordion_header{
    width: 100%;
    height: 70px;
    background: #fff;
    padding: 15px;
    color: #39a098;
    text-align: center;
    font-weight: 700;
    font-size: x-large;
    border-bottom: 2px solid #39a098;
    position: relative;
    cursor: pointer;
  }
  
  .wrapper .accordion_wrap:first-child .accordion_header{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  
  .wrapper .accordion_wrap:last-child .accordion_header{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  
  .wrapper .accordion_wrap:last-child .accordion_header:hover{
    border-bottom: 2px solid transparent;
  }
  
  .wrapper .accordion_wrap .accordion_header:before,
  .wrapper .accordion_wrap .accordion_header:after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    width: 20px;
    height: 2px;
    background: #39a098;
  }
  
  .wrapper .accordion_wrap .accordion_header:hover{
    color: #01645d;
    border-color: #01645d;
  }
  
  .wrapper .accordion_wrap .accordion_header:hover:before,
  .wrapper .accordion_wrap .accordion_header:hover:after{
    background: #01645d;
  }
  
  .wrapper .accordion_wrap .accordion_header:after{
    transform: rotate(-90deg);
    transition: all 0.5s ease;
  }
  
  .wrapper .accordion_wrap .accordion_body{
    width: 100%;
    height: 0px;

    transition: all 0.5s ease;
    background: #39a098;
    overflow: hidden;
  }
  
  .wrapper .accordion_wrap .accordion_body p{
    padding: 25px;
    font-size: x-large;
    font-weight: 500;
    text-align: justify;
    text-align: center;
    line-height: 25px;
    color: #fff;
    display: flex;
    align-items: center;
  }
  
  .wrapper .accordion_wrap .accordion_header:active{
    color: #01645d; 
    border-color: #01645d;
  }
  
  .wrapper .accordion_wrap:last-child .accordion_header:active{
    border-bottom: 2px solid #01645d;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  
  .wrapper .accordion_wrap .accordion_header:active:before,
  .wrapper .accordion_wrap .accordion_header:active:after{
    background: #01645d;
  }
  
  .wrapper .accordion_wrap .accordion_header:active:after{
    transform: rotate(0deg);
  }
  
  .wrapper .accordion_wrap .accordion_header:active + .accordion_body{
    height: 130px;
  }
  