<div class="flex-log" style="justify-content:flex-end">
    <button class="btn" style="margin-right: 20px; background-color:rgb(255,155,204); color:white;" (click)="logout()">Log Out</button>
</div>

<div class="alert alert-dark flex-pres" role="alert" >
  <div class="presentacion">
    <h4 class="alert-heading">¡Bienvenido {{nombre}}!</h4>
    <p>¡Aqui tienes información para cuidar bien de {{mascota}}!</p>
    <hr>
    <p class="mb-0">Su bienestar es nuetra gran prioridad.</p>
  </div>
  
</div>


<div style="display: block">
    <p class="lead" style="color: rgb(20, 22, 21); text-align: left;"></p>   
    <p class="lead" style="color: rgb(20, 22, 21); text-align: left;"></p>  
</div>
<div class="wrapper">
      <p class="accordion_wrap">
        <button type="button" class="accordion_header" (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
          Sensor de Temperatura y Humedad
        </button>
      </p>
      <div id="collapseExample" [ngbCollapse]="isCollapsed" >
        <div class="card" style="background-color: #FFD6F3;">
          <div class="card-body-center" style="color: #000000;">
              <div  class="contenedor">
                <table class="egt contenedor1" style="color: #000000">
                  <tr><th colspan="6">Sensor de Temperatura y Húmedad</th></tr>
                  <tr>
                    <th></th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Temperatura</th>
                    <th>Humedad</th>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                      <td><p *ngFor="let fruitF of fruitsF" >{{fruitF}}</p></td>
                      <td><p *ngFor="let hora of fruitsHor" >{{hora}}</p></td>
                      <td><p *ngFor="let fruitG of fruitsG" >{{fruitG}} °C</p></td>
                      <td><p *ngFor="let fruitH of fruitsH" >{{fruitH}} %</p></td>
                  </tr>
                </table></div>          
            </div>
        </div>
      </div>
      <hr>
      <p class="accordion_wrap">
        <button type="button" class="accordion_header" (click)="isCollapsed2 = !isCollapsed2"
                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
          Sensor de Gas
        </button>
      </p>
      <div id="collapseExample" [ngbCollapse]="isCollapsed2">
        <div class="card" style="background-color: #FFD6F3;">
          <div class="card-body-center" style="color: #000000;">
            <div class="contenedor">
              <table class="egt contenedor1">
                <tr>
                
                    <th colspan="5">Sensor de Gas</th>
                
                  </tr>
                  <tr>
                    <th></th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Presencia</th>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                  
                      <td><p *ngFor="let alarma of alarmaF" >
                          {{alarma}}
                      </p></td>
                      <td><p *ngFor="let alarma of alarmaH" >
                        {{alarma}}
                      </p></td>
                      <td><p *ngFor="let alarma of alarmaG" >
                        {{alarma}}
                      </p></td>
                    </tr>    
                    
                  </table>
                </div>
          </div>
        </div>
      </div>
      <hr>
      <p class="accordion_wrap">
        <button type="button" class="accordion_header" (click)="isCollapsed3 = !isCollapsed3"
                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
          Comida
        </button>
      </p>
      <div id="collapseExample" [ngbCollapse]="isCollapsed3">
        <div class="card" style="background-color: #FFD6F3;">
          <div class="card-body" style="color: #000000;">
                <div class="contenedor">
                    <table class="egt contenedor1">
                      <tr>
                          <th colspan="5">Comida</th>
                        </tr>
                        <tr>
                          <th></th>
                          <th>Fecha</th>
                          <th>Hora</th>
                          <th>Cantidad de Alimento</th>
                      
                        </tr>
                        <tr>
                          <th scope="row"></th>
                            <td><p *ngFor="let fecha of fechaBotG" >
                                {{fecha}}
                            </p></td>
                            <td><p *ngFor="let hora of horaBotG" >
                                {{hora}}
                            </p></td>
                            <td><p *ngFor="let alt of altBotG" >
                              {{alt}} %
                            </p></td>
                          </tr>    
                    </table>
                </div>
          </div>
        </div>
      </div>
      <hr>
      <p class="accordion_wrap">
        <button type="button" class="accordion_header" (click)="isCollapsed4 = !isCollapsed4"
                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
          Agua
        </button>
      </p>
      <div id="collapseExample" [ngbCollapse]="isCollapsed4">
        <div class="card" style="background-color: #FFD6F3;">
          <div class="card-body" style="color: #000000;">
                <div class="contenedor">
                    <table class="egt contenedor1">
                      <tr>
                        <th colspan="4">Agua</th>
                      </tr>
                      <tr>
                        <th></th>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Cantidad de Agua</th>
                      </tr>
                      <tr>
                        <th scope="row"></th>
                        <td><p *ngFor="let fecha of fechaAG" >{{fecha}}</p></td>
                        <td><p *ngFor="let hora of horaAG" >{{hora}}</p></td>
                        <td><p *ngFor="let alt of altAG" >{{alt}} %</p></td>
                      </tr>        
                    </table>
                </div>
          </div>
        </div>
      </div>
    <hr>
    <p class="accordion_wrap">
        <button type="button" class="accordion_header" (click)="isCollapsed5 = !isCollapsed5"
                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
          Status Comida
        </button>
      </p>
      <div id="collapseExample" [ngbCollapse]="isCollapsed5">
        <div class="card" style="background-color: #FFD6F3;">
          <div class="card-body" style="color: #000000;">
                <div class="contenedor">
                    <table class="egt contenedor1">
                      <tr><th colspan="4">Status Alimento</th></tr>
                      <tr>
                        <th></th>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Comida Consumida</th>
                      </tr>
                      <tr>
                        <th scope="row"></th>
                        <td><p *ngFor="let fecha of fechaAlimentoG" >{{fecha}} </p></td>
                        <td><p *ngFor="let hora of horaAlimentoG" >{{hora}} </p></td>
                        <td><p *ngFor="let distancia of distanciaAlimentoG" >{{distancia}}</p></td>
                      </tr>         
                    </table>
                </div>
          </div>
        </div>
      </div>
      
      <hr>
      <p class="accordion_wrap">
        <button type="button" class="accordion_header" (click)="isCollapsed6 = !isCollapsed6"
                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
          Status Agua
        </button>
      </p>
      <div id="collapseExample" [ngbCollapse]="isCollapsed6">
        <div class="card" style="background-color: #FFD6F3;">
          <div class="card-body" style="color: #000000;">
                <div class="contenedor">
                    <table class="egt contenedor1">
                      <tr><th colspan="4">Status Agua</th></tr>
                        <tr>
                          <th></th>
                          <th>Fecha</th>
                          <th>Hora</th>
                          <th>Agua Consumida</th>
                        </tr>
                        <tr>
                          <th scope="row"></th>
                          <td><p *ngFor="let fecha of fechaAguaG" >{{fecha}}</p></td>
                          <td><p *ngFor="let hora of horaAguaG" >{{hora}}</p></td>
                          <td><p *ngFor="let distancia of distanciaAguaG" >{{distancia}}</p></td>
                        </tr>        
                    </table>
                </div>
          </div>
        </div>
      </div>
      <hr>
  
  </div>
